Repository SigComply/sigcomply-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: opa-fmt, opa-check, gosec, govulncheck

opa-fmt:
  name: OPA Format
  entry: bash -c 'if command -v opa &> /dev/null && [ -d "internal/policy/policies" ]; then opa fmt -w internal/policy/policies/; fi'
  language: system
  pass_filenames: false

opa-check:
  name: OPA Check
  entry: bash -c 'if command -v opa &> /dev/null && [ -d "internal/policy/policies" ]; then opa check internal/policy/policies/; fi'
  language: system
  pass_filenames: false

gosec:
  name: Go Security Check
  entry: bash -c 'if command -v gosec &> /dev/null; then gosec -quiet ./...; fi'
  language: system
  pass_filenames: false

govulncheck:
  name: Go Vulnerability Check
  entry: bash -c 'if command -v govulncheck &> /dev/null; then govulncheck ./...; fi'
  language: system
  pass_filenames: false

fix: use correct GitHub URL casing in documentation
  .goreleaser.yml
  QUICKSTART.md
Due: none

feat: add Sentry error tracking integration
  claude.md
  cmd/sigcomply/root.go
  go.mod
  go.sum
  internal/core/telemetry/sentry.go
Due: gosec, govulncheck

revert: remove Sentry integration from CLI
  claude.md
  cmd/sigcomply/root.go
  go.mod
  go.sum
  internal/core/telemetry/sentry.go
Due: gosec, govulncheck

docs: remove E2E testing repository references
  TESTING_STRATEGY.md
  claude.md
Due: none

ci: use free gitleaks setup without license requirement
  .github/workflows/security.yml
Due: none

feat: Add E2E testing framework for GitHub and AWS
  .github/workflows/e2e.yml
  docs/e2e-testing.md
  internal/compliance_frameworks/engine/engine.go
  internal/compliance_frameworks/soc2/framework.go
  internal/compliance_frameworks/soc2/policies/cc8_1_branch_protection.rego
  test/e2e/aws_test.go
  test/e2e/e2e_test.go
  test/e2e/github_test.go
  test/e2e/storage_test.go
Due: opa-fmt, opa-check, gosec, govulncheck

fix: Use step output instead of secrets in workflow conditions
  .github/workflows/compliance.yml
Due: none

feat: add E2E tests and fix OPA engine query depth bug
  .github/workflows/e2e.yml
  e2e/config.yaml
  go.mod
  internal/compliance_frameworks/engine/engine.go
  test/e2e/config.go
  test/e2e/e2e_test.go
  test/e2e/helpers.go
Due: gosec, govulncheck

refactor: reorganize E2E tests by concern with multi-provider support and configurable cleanup
  e2e/config.yaml
  test/e2e/cleanup.go
  test/e2e/collect_aws.go
  test/e2e/config.go
  test/e2e/credentials.go
  test/e2e/framework.go
  test/e2e/pipeline.go
  test/e2e/storage_s3.go
  test/e2e/suite_test.go
Due: gosec, govulncheck

fix: exempt programmatic-only IAM users from MFA policy
  e2e/config.yaml
  internal/compliance_frameworks/iso27001/policies/a_9_2_1_access.rego
  internal/compliance_frameworks/soc2/policies/cc6_1_mfa.rego
  internal/data_sources/apis/aws/iam.go
  internal/data_sources/apis/aws/iam_test.go
Due: opa-fmt, opa-check, gosec, govulncheck

refactor: restructure E2E tests into extensible subpackages
  e2e/config.yaml
  test/e2e/collect_aws.go
  test/e2e/collectors/aws.go
  test/e2e/collectors/collector.go
  test/e2e/collectors/github.go
  test/e2e/config/cleanup.go
  test/e2e/config/config.go
  test/e2e/config/credentials.go
  test/e2e/framework.go
  test/e2e/frameworks/frameworks.go
  test/e2e/pipeline/pipeline.go
  test/e2e/storage/s3.go
  test/e2e/storage/storage.go
  test/e2e/suite_test.go
Due: gosec, govulncheck

docs: update E2E testing strategy to reflect subpackage architecture
  TESTING_STRATEGY.md
Due: none

feat: redesign storage for auditor-friendly policy-centric layout
  cmd/sigcomply/check.go
  cmd/sigcomply/cloud_submit.go
  cmd/sigcomply/cloud_submit_test.go
  internal/compliance_frameworks/engine/engine.go
  internal/core/evidence/evidence.go
  internal/core/storage/local.go
  internal/core/storage/manifest.go
  internal/core/storage/runpath.go
  internal/core/storage/runpath_test.go
  internal/core/storage/s3.go
  internal/core/storage/storage.go
  internal/core/storage/storage_test.go
  test/e2e/pipeline/pipeline.go
  test/e2e/storage/s3.go
  test/e2e/storage/storage.go
Due: gosec, govulncheck

feat: add .sigcomply.yaml config file loading with --config flag
  cmd/sigcomply/check.go
  internal/core/config/config.go
  internal/core/config/config_test.go
Due: gosec, govulncheck

test: add negative tests across engine, evidence, AWS, and GitHub packages
  internal/compliance_frameworks/engine/engine.go
  internal/compliance_frameworks/engine/engine_test.go
  internal/core/evidence/evidence_test.go
  internal/data_sources/apis/aws/cloudtrail_test.go
  internal/data_sources/apis/aws/collector_test.go
  internal/data_sources/apis/aws/iam_test.go
  internal/data_sources/apis/aws/s3_test.go
  internal/data_sources/apis/github/collector_test.go
  internal/data_sources/apis/github/members.go
  internal/data_sources/apis/github/members_test.go
  internal/data_sources/apis/github/repos_test.go
Due: gosec, govulncheck

docs: add configuration guide and .env.example template
  .env.example
  docs/configuration.md
Due: none

Fix Auth with Rails - remove API token based auth. Only OIDC
  .env.example
  .github/workflows/compliance.yml
  ARCHITECTURE.md
  GLOSSARY.md
  claude.md
  cmd/sigcomply/check.go
  cmd/sigcomply/cloud_submit.go
  cmd/sigcomply/cloud_submit_test.go
  docs/configuration.md
  examples/github-actions.yml
  examples/github-actions/basic.yml
  examples/github-actions/multi-environment.yml
  examples/gitlab-ci.yml
  internal/core/cloud/auth.go
  internal/core/cloud/auth_test.go
  internal/core/cloud/client.go
  internal/core/cloud/client_test.go
  internal/core/cloud/types.go
  internal/core/config/config.go
  internal/core/config/config_test.go
Due: gosec, govulncheck

fix: resolve 18 golangci-lint issues breaking CI
  cmd/sigcomply/cloud_submit.go
  cmd/sigcomply/cloud_submit_test.go
  internal/core/cloud/auth_test.go
  internal/core/storage/manifest.go
  internal/core/storage/runpath.go
  internal/core/storage/storage_test.go
Due: gosec, govulncheck

docs: Update architecture and implementation plan for consistency
  ARCHITECTURE.md
  IMPLEMENTATION_PLAN.md
Due: none

feat: redesign attestation to hash stored files instead of individual evidence
  cmd/sigcomply/check.go
  cmd/sigcomply/cloud_submit.go
  cmd/sigcomply/cloud_submit_test.go
  internal/core/attestation/attestation_test.go
  internal/core/attestation/hash.go
  internal/core/attestation/types.go
  internal/core/storage/manifest.go
  internal/core/storage/runpath.go
  internal/core/storage/runpath_test.go
  internal/core/storage/storage_test.go
  test/e2e/pipeline/pipeline.go
Due: gosec, govulncheck

fix: resolve 6 golangci-lint issues breaking CI
  cmd/sigcomply/check.go
  cmd/sigcomply/cloud_submit.go
  cmd/sigcomply/cloud_submit_test.go
  internal/core/attestation/hash.go
  internal/core/storage/storage_test.go
Due: gosec, govulncheck

feat: add --policies and --controls flags to run a subset of framework policies
  .github/workflows/compliance.yml
  cmd/sigcomply/check.go
  internal/core/config/config.go
  internal/core/config/config_test.go
Due: gosec, govulncheck

feat: add auto-release on merge and fix release infrastructure
  .github/workflows/auto-release.yml
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

fix: consolidate release into auto-release workflow
  .github/workflows/auto-release.yml
  .github/workflows/release.yml
Due: none

fix: remove Homebrew tap config and fix goreleaser v2 compatibility
  .goreleaser.yml
Due: none

fix: remove SBOM generation, update vulnerable otel/sdk, update docs
  .goreleaser.yml
  ARCHITECTURE.md
  claude.md
  go.mod
  go.sum
Due: govulncheck

docs: update configuration.md with --policies/--controls support
  docs/configuration.md
Due: none

fix: resolve lint errors and update CI Go version to 1.25
  .github/workflows/e2e.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  cmd/sigcomply/check.go
  internal/core/config/config.go
  internal/data_sources/apis/aws/account.go
  internal/data_sources/apis/aws/cloudwatch.go
  internal/data_sources/apis/aws/configservice.go
  internal/data_sources/apis/aws/ec2.go
  internal/data_sources/apis/aws/ec2_test.go
  internal/data_sources/apis/aws/ecr.go
  internal/data_sources/apis/aws/guardduty.go
  internal/data_sources/apis/aws/kms.go
  internal/data_sources/apis/aws/rds.go
  internal/data_sources/apis/gcp/compute.go
  internal/data_sources/apis/gcp/iam.go
  internal/data_sources/apis/gcp/sql.go
  internal/data_sources/apis/gcp/storage.go
Due: gosec, govulncheck

fix: raise dupl threshold and remove unknown stylecheck nolint
  .golangci.yml
  internal/data_sources/apis/aws/ec2_test.go
Due: gosec, govulncheck

fix: extract helper to eliminate duplicate mock setup in iam_test.go
  internal/data_sources/apis/aws/iam_test.go
Due: gosec, govulncheck

docs: remove stale docs and fix CI policy test path
  .github/workflows/test.yml
  ARCHITECTURE.md
  GLOSSARY.md
  IMPLEMENTATION_PLAN.md
  QUICKSTART.md
  TESTING_STRATEGY.md
Due: none

fix: update CI OPA version to v1.x for policy test compatibility
  .github/workflows/test.yml
Due: none

fix: suppress dupl lint false positive on EC2Client interface
  internal/data_sources/apis/aws/ec2.go
Due: gosec, govulncheck

fix: suppress dupl lint false positive on MockEC2Client
  internal/data_sources/apis/aws/ec2_test.go
Due: gosec, govulncheck

fix: update trivy-action to v0.35.0
  .github/workflows/security.yml
Due: none

Path conditions:
  opa-fmt: any of: \.rego$
  opa-check: any of: \.rego$
  gosec: any of: \.go$
  govulncheck: any of: (\.go$|go\.mod$|go\.sum$)
