Repository SigComply/sigcomply-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: opa-fmt, opa-check, gosec, govulncheck

.pre-commit-config.yaml:

# Pre-commit hooks for SigComply CLI
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Go formatting
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-imports
      - id: go-mod-tidy

  # Secret detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.1
    hooks:
      - id: gitleaks

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--fix', '--disable', 'MD013', 'MD033', 'MD041']

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.33.0
    hooks:
      - id: yamllint
        args: ['-d', '{extends: relaxed, rules: {line-length: disable}}']

  # Shell script linting
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck

  # Rego/OPA policy linting
  - repo: local
    hooks:
      - id: opa-fmt
        name: OPA Format
        entry: bash -c 'if command -v opa &> /dev/null && [ -d "internal/policy/policies" ]; then opa fmt -w internal/policy/policies/; fi'
        language: system
        files: '\.rego$'
        pass_filenames: false

      - id: opa-check
        name: OPA Check
        entry: bash -c 'if command -v opa &> /dev/null && [ -d "internal/policy/policies" ]; then opa check internal/policy/policies/; fi'
        language: system
        files: '\.rego$'
        pass_filenames: false

  # Go security scan (local)
  - repo: local
    hooks:
      - id: gosec
        name: Go Security Check
        entry: bash -c 'if command -v gosec &> /dev/null; then gosec -quiet ./...; fi'
        language: system
        files: '\.go$'
        pass_filenames: false

      - id: govulncheck
        name: Go Vulnerability Check
        entry: bash -c 'if command -v govulncheck &> /dev/null; then govulncheck ./...; fi'
        language: system
        files: '(\.go$|go\.mod$|go\.sum$)'
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: false
  autoupdate_schedule: weekly

ci: apply dependabot updates for actions and go modules
  .github/workflows/auto-release.yml
  .github/workflows/compliance.yml
  .github/workflows/contract-validation.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  claude.md
  go.mod
  go.sum
Due: govulncheck

fix: resolve remaining golangci-lint issues across codebase
  internal/core/attestation/oidc.go
  internal/core/cloud/client.go
  internal/core/output/junit.go
  internal/core/storage/s3.go
  internal/data_sources/apis/aws/ec2.go
  internal/data_sources/apis/aws/ec2_test.go
  internal/data_sources/apis/aws/eventbridge.go
  internal/data_sources/apis/aws/ssm.go
Due: gosec, govulncheck

refactor: remove OIDC-based attestation signing, OIDC is auth-only
  ARCHITECTURE.md
  docs/claude/auth.md
  internal/core/attestation/attestation_test.go
  internal/core/attestation/oidc.go
  internal/core/attestation/types.go
Due: gosec, govulncheck

chore: fix case-sensitivity staging for CLAUDE.md on macOS
  claude.md
Due: none

docs: add signing verification idea for OIDC-derived key approach
  docs/signing-verification-idea.md
Due: none

Explore signing idea
  docs/signing-verification-idea.md
Due: none

feat: replace HMAC-SHA256 attestation with ephemeral Ed25519 keypairs; aggregate cloud payload
  ARCHITECTURE.md
  claude.md
  cmd/sigcomply/check.go
  cmd/sigcomply/cloud_submit.go
  cmd/sigcomply/cloud_submit_test.go
  docs/claude/auth.md
  docs/signing-verification-idea.md
  internal/core/attestation/attestation_test.go
  internal/core/attestation/ed25519.go
  internal/core/attestation/hmac.go
  internal/core/attestation/oidc.go
  internal/core/attestation/types.go
  internal/core/cloud/client_test.go
  internal/core/cloud/types.go
  test/e2e/config/config.go
  test/e2e/pipeline/pipeline.go
Due: gosec, govulncheck

fix: use index-based range loop to avoid large struct copy (gocritic)
  cmd/sigcomply/cloud_submit.go
Due: gosec, govulncheck

docs: fix stale and inconsistent documentation
  ARCHITECTURE.md
  docs/configuration.md
Due: none

docs: fix Cloud API Client description in CLAUDE.md
  claude.md
Due: none

feat: replace Attestation with per-file EvidenceEnvelope signing
  internal/core/attestation/attestation_test.go
  internal/core/attestation/ed25519.go
  internal/core/attestation/hash.go
  internal/core/attestation/types.go
Due: gosec, govulncheck

feat: policy-first S3 layout with per-envelope signed evidence
  internal/core/storage/manifest.go
  internal/core/storage/runpath.go
  internal/core/storage/runpath_test.go
  internal/core/storage/storage.go
  internal/core/storage/storage_test.go
Due: gosec, govulncheck

refactor: remove attestation plumbing from check command
  cmd/sigcomply/check.go
  cmd/sigcomply/cloud_submit.go
  cmd/sigcomply/cloud_submit_test.go
Due: gosec, govulncheck

test(e2e): update pipeline to verify per-file EvidenceEnvelope signatures
  test/e2e/pipeline/pipeline.go
Due: gosec, govulncheck

docs: update architecture and recipes for EvidenceEnvelope + policy-first layout
  ARCHITECTURE.md
  claude.md
  docs/claude/recipes.md
Due: none

docs: remove stale pre-EvidenceEnvelope references from docs and tests
  claude.md
  docs/claude/auth.md
  docs/signing-verification-idea.md
  test/e2e/storage/s3.go
Due: gosec, govulncheck

fix: Upgrade grpc to v1.79.3 to resolve critical CVE (authorization bypass)
  go.mod
  go.sum
Due: govulncheck

fix: restructure cloud API payload to match Rails API contract
  cmd/sigcomply/cloud_submit.go
  cmd/sigcomply/cloud_submit_test.go
  internal/core/cloud/client.go
  internal/core/cloud/client_test.go
  internal/core/cloud/types.go
Due: gosec, govulncheck

chore: tidy go.sum after grpc v1.79.2 → v1.79.3 upgrade
  go.sum
Due: govulncheck

feat: add --json-output flag to produce JSON file alongside any output format
  .github/workflows/compliance.yml
  cmd/sigcomply/check.go
  cmd/sigcomply/check_json_output_test.go
Due: gosec, govulncheck

feat: add message and category fields to cloud API policy results
  cmd/sigcomply/cloud_submit.go
  cmd/sigcomply/cloud_submit_test.go
  internal/compliance_frameworks/engine/engine.go
  internal/core/cloud/types.go
  internal/core/evidence/evidence.go
Due: gosec, govulncheck

fix: prevent spurious compliance.yml failure on push to main
  .github/workflows/compliance.yml
Due: none

fix: resolve compliance.yml workflow file issue (invalid secrets context)
  .github/workflows/compliance.yml
Due: none

chore: pin all GitHub Actions to commit SHAs and fix token permissions
  .github/workflows/compliance.yml
  .github/workflows/contract-validation.yml
  .github/workflows/e2e.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

chore(ci): harden workflows, add OSV Scanner and SLSA L3 provenance
  .github/workflows/auto-release.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: none

chore(ci): remove redundant Go file guards from security workflow
  .github/workflows/security.yml
Due: none

chore(ci): add harden-runner to all workflow jobs
  .github/workflows/compliance.yml
  .github/workflows/contract-validation.yml
  .github/workflows/e2e.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

fix(ci): bypass SLSA generator false-positive private-repo detection
  .github/workflows/auto-release.yml
Due: none

fix(ci): replace broken SLSA generator with actions/attest-build-provenance
  .github/workflows/auto-release.yml
Due: none

fix(ci): add --repo flag to gh release create (no git checkout in publish job)
  .github/workflows/auto-release.yml
Due: none

fix(ci): use explicit file patterns in gh release create to skip GoReleaser subdirs
  .github/workflows/auto-release.yml
Due: none

fix(ci): use osv-scanner-action subdirectory path in action reference
  .github/workflows/security.yml
Due: none

fix(cloud): enforce privacy invariants structurally
  cmd/sigcomply/cloud_submit.go
  cmd/sigcomply/cloud_submit_test.go
  internal/core/cloud/types.go
Due: gosec, govulncheck

fix: use GitHub releases URL for OPA download in test workflow
  .github/workflows/test.yml
Due: none

fix(cloud): use NewClientFromEnv so SIGCOMPLY_API_URL is respected
  cmd/sigcomply/cloud_submit.go
Due: gosec, govulncheck

feat(e2e): add 35+ AWS services to setup/teardown scripts
  scripts/e2e/setup-aws.sh
  scripts/e2e/teardown-aws.sh
Due: none

feat(manual): add manual evidence collection for SOC 2 controls
  cmd/sigcomply/check.go
  cmd/sigcomply/check_manual_test.go
  cmd/sigcomply/cloud_submit_manual_test.go
  cmd/sigcomply/evidence.go
  cmd/sigcomply/evidence_test.go
  cmd/sigcomply/root.go
  internal/compliance_frameworks/engine/registry.go
  internal/compliance_frameworks/soc2/framework.go
  internal/compliance_frameworks/soc2/policies/manual/cc1_4_security_training.rego
  internal/compliance_frameworks/soc2/policies/manual/cc1_4_security_training_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc3_1_risk_acceptance.rego
  internal/compliance_frameworks/soc2/policies/manual/cc3_1_risk_acceptance_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_1_quarterly_access_review.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_1_quarterly_access_review_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_2_incident_response_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_2_incident_response_test_test.rego
  internal/core/config/config.go
  internal/core/config/config_test.go
  internal/core/manual/catalog.go
  internal/core/manual/catalog_test.go
  internal/core/manual/catalogs/soc2.yaml
  internal/core/manual/embed.go
  internal/core/manual/period.go
  internal/core/manual/period_test.go
  internal/core/manual/schema.go
  internal/core/manual/state.go
  internal/core/manual/state_test.go
  internal/core/manual/submitted.go
  internal/core/manual/submitted_test.go
  internal/core/storage/s3.go
  internal/data_sources/manual/reader.go
  internal/data_sources/manual/reader_test.go
  test/e2e/manual/manual.go
  test/e2e/suite_test.go
Due: opa-fmt, opa-check, gosec, govulncheck

chore: remove docker ecosystem from dependabot config
  .github/dependabot.yml
Due: none

fix(manual): correct SOC 2 control mappings and add tsc/optional fields
  internal/compliance_frameworks/soc2/controls.go
  internal/compliance_frameworks/soc2/policies/manual/cc6_3_quarterly_access_review.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_3_quarterly_access_review_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_4_incident_response_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_4_incident_response_test_test.rego
  internal/core/manual/catalog.go
  internal/core/manual/catalog_test.go
  internal/core/manual/catalogs/soc2.yaml
Due: opa-fmt, opa-check, gosec, govulncheck

feat(manual): add HR & governance SOC 2 manual policies
  internal/compliance_frameworks/soc2/controls.go
  internal/compliance_frameworks/soc2/policies/manual/cc1_2_board_security_review.rego
  internal/compliance_frameworks/soc2/policies/manual/cc1_2_board_security_review_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc1_4_background_check.rego
  internal/compliance_frameworks/soc2/policies/manual/cc1_4_background_check_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc1_5_performance_review_security.rego
  internal/compliance_frameworks/soc2/policies/manual/cc1_5_performance_review_security_test.rego
  internal/core/manual/catalogs/soc2.yaml
  internal/data_sources/manual/reader_test.go
Due: opa-fmt, opa-check, gosec, govulncheck
