Repository SigComply/sigcomply-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: opa-fmt, opa-check, gosec, govulncheck

opa-fmt:
  name: OPA Format
  entry: bash -c 'if command -v opa &> /dev/null && [ -d "internal/policy/policies" ]; then opa fmt -w internal/policy/policies/; fi'
  language: system
  pass_filenames: false

opa-check:
  name: OPA Check
  entry: bash -c 'if command -v opa &> /dev/null && [ -d "internal/policy/policies" ]; then opa check internal/policy/policies/; fi'
  language: system
  pass_filenames: false

gosec:
  name: Go Security Check
  entry: bash -c 'if command -v gosec &> /dev/null; then gosec -quiet ./...; fi'
  language: system
  pass_filenames: false

govulncheck:
  name: Go Vulnerability Check
  entry: bash -c 'if command -v govulncheck &> /dev/null; then govulncheck ./...; fi'
  language: system
  pass_filenames: false

feat(manual): add risk & compliance SOC 2 manual policies
  internal/compliance_frameworks/soc2/controls.go
  internal/compliance_frameworks/soc2/policies/manual/cc3_2_annual_risk_assessment.rego
  internal/compliance_frameworks/soc2/policies/manual/cc3_2_annual_risk_assessment_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc3_4_significant_change_analysis.rego
  internal/compliance_frameworks/soc2/policies/manual/cc3_4_significant_change_analysis_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc9_1_cyber_liability_insurance.rego
  internal/compliance_frameworks/soc2/policies/manual/cc9_1_cyber_liability_insurance_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc9_2_vendor_soc2_review.rego
  internal/compliance_frameworks/soc2/policies/manual/cc9_2_vendor_soc2_review_test.rego
  internal/core/manual/catalogs/soc2.yaml
Due: opa-fmt, opa-check, gosec, govulncheck

feat(manual): add access & physical security SOC 2 manual policies
  internal/compliance_frameworks/soc2/controls.go
  internal/compliance_frameworks/soc2/policies/manual/cc6_1_privileged_access_log.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_1_privileged_access_log_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_4_office_walkthrough.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_4_office_walkthrough_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_4_visitor_log.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_4_visitor_log_test.rego
  internal/core/manual/catalogs/soc2.yaml
Due: opa-fmt, opa-check, gosec, govulncheck

feat(manual): add system ops & BCDR SOC 2 manual policies
  internal/compliance_frameworks/soc2/controls.go
  internal/compliance_frameworks/soc2/policies/manual/a1_1_capacity_review.rego
  internal/compliance_frameworks/soc2/policies/manual/a1_1_capacity_review_test.rego
  internal/compliance_frameworks/soc2/policies/manual/a1_2_backup_restoration_log.rego
  internal/compliance_frameworks/soc2/policies/manual/a1_2_backup_restoration_log_test.rego
  internal/compliance_frameworks/soc2/policies/manual/a1_3_dr_test_report.rego
  internal/compliance_frameworks/soc2/policies/manual/a1_3_dr_test_report_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_4_incident_post_mortem.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_4_incident_post_mortem_test.rego
  internal/core/manual/catalogs/soc2.yaml
Due: opa-fmt, opa-check, gosec, govulncheck

feat(manual): add data protection SOC 2 manual policies
  internal/compliance_frameworks/soc2/controls.go
  internal/compliance_frameworks/soc2/policies/manual/c1_1_data_classification_registry.rego
  internal/compliance_frameworks/soc2/policies/manual/c1_1_data_classification_registry_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_5_media_sanitization.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_5_media_sanitization_test.rego
  internal/core/manual/catalogs/soc2.yaml
Due: opa-fmt, opa-check, gosec, govulncheck

test(manual): fix e2e policy ID + add shape tests + extend negative e2e
  internal/core/manual/catalog_test.go
  test/e2e/manual/manual.go
Due: gosec, govulncheck

feat(soc2): add 7 new control definitions for manual catalog expansion
  internal/compliance_frameworks/soc2/controls.go
  internal/core/manual/catalog_test.go
Due: gosec, govulncheck

feat(manual): add HR & governance SOC 2 manual entries (NDA, onboarding, termination)
  internal/compliance_frameworks/soc2/policies/manual/cc1_1_employee_nda.rego
  internal/compliance_frameworks/soc2/policies/manual/cc1_1_employee_nda_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_2_user_onboarding_log.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_2_user_onboarding_log_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_3_user_termination_log.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_3_user_termination_log_test.rego
  internal/core/manual/catalog_test.go
  internal/core/manual/catalogs/soc2.yaml
Due: opa-fmt, opa-check, gosec, govulncheck

feat(manual): add risk & compliance SOC 2 manual entries
  internal/compliance_frameworks/soc2/policies/manual/cc2_2_security_comm_channel.rego
  internal/compliance_frameworks/soc2/policies/manual/cc2_2_security_comm_channel_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc3_3_fraud_risk_assessment.rego
  internal/compliance_frameworks/soc2/policies/manual/cc3_3_fraud_risk_assessment_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc5_3_policy_review_log.rego
  internal/compliance_frameworks/soc2/policies/manual/cc5_3_policy_review_log_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc9_2_vendor_risk_directory.rego
  internal/compliance_frameworks/soc2/policies/manual/cc9_2_vendor_risk_directory_test.rego
  internal/core/manual/catalog_test.go
  internal/core/manual/catalogs/soc2.yaml
Due: opa-fmt, opa-check, gosec, govulncheck

feat(manual): add physical access & hardware SOC 2 manual entries
  internal/compliance_frameworks/soc2/policies/manual/cc6_1_asset_inventory_hardware.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_1_asset_inventory_hardware_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_4_office_badge_access_review.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_4_office_badge_access_review_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_5_secure_hardware_storage_log.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_5_secure_hardware_storage_log_test.rego
  internal/core/manual/catalog_test.go
  internal/core/manual/catalogs/soc2.yaml
Due: opa-fmt, opa-check, gosec, govulncheck

feat(manual): add change management SOC 2 manual entries
  internal/compliance_frameworks/soc2/policies/manual/cc8_1_change_approval_log.rego
  internal/compliance_frameworks/soc2/policies/manual/cc8_1_change_approval_log_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc8_1_emergency_change_procedure.rego
  internal/compliance_frameworks/soc2/policies/manual/cc8_1_emergency_change_procedure_test.rego
  internal/core/manual/catalog_test.go
  internal/core/manual/catalogs/soc2.yaml
Due: opa-fmt, opa-check, gosec, govulncheck

feat(manual): add vulnerability management SOC 2 manual entries
  internal/compliance_frameworks/soc2/policies/manual/cc6_8_hardening_standards_doc.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_8_hardening_standards_doc_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_1_fim_configuration.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_1_fim_configuration_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_1_vuln_remediation_tracker.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_1_vuln_remediation_tracker_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_1_vuln_scan_results.rego
  internal/compliance_frameworks/soc2/policies/manual/cc7_1_vuln_scan_results_test.rego
  internal/core/manual/catalog_test.go
  internal/core/manual/catalogs/soc2.yaml
Due: opa-fmt, opa-check, gosec, govulncheck

feat(manual): add Privacy SOC 2 manual entries and extend e2e coverage
  internal/compliance_frameworks/soc2/policies/manual/p1_1_privacy_notice_proof.rego
  internal/compliance_frameworks/soc2/policies/manual/p1_1_privacy_notice_proof_test.rego
  internal/compliance_frameworks/soc2/policies/manual/p1_1_quarterly_privacy_review.rego
  internal/compliance_frameworks/soc2/policies/manual/p1_1_quarterly_privacy_review_test.rego
  internal/compliance_frameworks/soc2/policies/manual/p2_1_marketing_optin_proof.rego
  internal/compliance_frameworks/soc2/policies/manual/p2_1_marketing_optin_proof_test.rego
  internal/compliance_frameworks/soc2/policies/manual/p3_1_data_minimization_proof.rego
  internal/compliance_frameworks/soc2/policies/manual/p3_1_data_minimization_proof_test.rego
  internal/compliance_frameworks/soc2/policies/manual/p5_2_dsar_fulfillment_log.rego
  internal/compliance_frameworks/soc2/policies/manual/p5_2_dsar_fulfillment_log_test.rego
  internal/core/manual/catalog_test.go
  internal/core/manual/catalogs/soc2.yaml
  test/e2e/manual/manual.go
Due: opa-fmt, opa-check, gosec, govulncheck

feat(manual): add data protection, availability & architecture SOC 2 manual entries
  internal/compliance_frameworks/soc2/policies/manual/a1_2_business_continuity_plan.rego
  internal/compliance_frameworks/soc2/policies/manual/a1_2_business_continuity_plan_test.rego
  internal/compliance_frameworks/soc2/policies/manual/c1_1_customer_data_segregation.rego
  internal/compliance_frameworks/soc2/policies/manual/c1_1_customer_data_segregation_test.rego
  internal/compliance_frameworks/soc2/policies/manual/c1_2_data_retention_disposal_log.rego
  internal/compliance_frameworks/soc2/policies/manual/c1_2_data_retention_disposal_log_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc2_1_architecture_diagram.rego
  internal/compliance_frameworks/soc2/policies/manual/cc2_1_architecture_diagram_test.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_7_crypto_key_log.rego
  internal/compliance_frameworks/soc2/policies/manual/cc6_7_crypto_key_log_test.rego
  internal/core/manual/catalog_test.go
  internal/core/manual/catalogs/soc2.yaml
Due: opa-fmt, opa-check, gosec, govulncheck

fix(lint): resolve all 29 golangci-lint issues from manual evidence feature
  cmd/sigcomply/check.go
  cmd/sigcomply/check_manual_test.go
  cmd/sigcomply/cloud_submit_manual_test.go
  cmd/sigcomply/evidence.go
  cmd/sigcomply/evidence_test.go
  cmd/sigcomply/root.go
  internal/compliance_frameworks/soc2/framework.go
  internal/core/manual/catalog.go
  internal/core/manual/period.go
  internal/core/manual/period_test.go
  internal/core/manual/state.go
  internal/core/manual/state_test.go
  internal/data_sources/manual/reader.go
  internal/data_sources/manual/reader_test.go
Due: gosec, govulncheck

chore: add lefthook for pre-commit lint and secret scanning
  .pre-commit-config.yaml
  Makefile
  lefthook.yml
Due: none

chore: add go mod tidy pre-commit check
  lefthook.yml
Due: none

feat(manual): validate submitted evidence against JSON Schema
  go.mod
  go.sum
  internal/core/manual/validator.go
  internal/core/manual/validator_test.go
  internal/data_sources/manual/reader.go
  internal/data_sources/manual/reader_test.go
Due: gosec, govulncheck

feat(storage): mirror manual evidence sidecars into policy result bucket
  cmd/sigcomply/check.go
  cmd/sigcomply/check_manual_test.go
  internal/core/storage/manifest.go
  internal/core/storage/runpath.go
  internal/core/storage/sidecar.go
  internal/core/storage/storage_test.go
  internal/data_sources/manual/reader.go
  test/e2e/manual/manual.go
  test/e2e/pipeline/pipeline.go
Due: gosec, govulncheck

feat(storage): write per-policy framework summary.json
  cmd/sigcomply/check.go
  internal/core/storage/summary.go
  internal/core/storage/summary_test.go
Due: gosec, govulncheck

docs: document manual_attachments and summary.json artifacts
  ARCHITECTURE.md
Due: none

docs: surface manual sidecar mirroring + summary.json in CLI claude.md
  claude.md
Due: none

fix(lint): resolve golangci-lint issues + tidy go.mod
  go.mod
  internal/core/storage/summary.go
  internal/core/storage/summary_test.go
  internal/data_sources/manual/reader.go
Due: gosec, govulncheck

docs: pivot manual evidence model to single-PDF + evidence_type policy metadata
  ARCHITECTURE.md
  claude.md
  docs/claude/recipes.md
Due: none

feat(engine): add evidence_type metadata key with migration fallback
  internal/compliance_frameworks/engine/engine.go
  internal/compliance_frameworks/engine/engine_test.go
Due: gosec, govulncheck

refactor(manual): pivot manual evidence Go path from JSON+attachments to single PDF
  cmd/sigcomply/evidence.go
  cmd/sigcomply/evidence_test.go
  cmd/sigcomply/root.go
  go.mod
  go.sum
  internal/core/manual/catalog.go
  internal/core/manual/manual.go
  internal/core/manual/schema.go
  internal/core/manual/submitted.go
  internal/core/manual/submitted_test.go
  internal/core/manual/validator.go
  internal/core/manual/validator_test.go
  internal/core/storage/manifest.go
  internal/core/storage/sidecar.go
  internal/core/storage/storage_test.go
  internal/core/storage/summary.go
  internal/core/storage/summary_test.go
  internal/data_sources/manual/reader.go
  internal/data_sources/manual/reader_test.go
  test/e2e/manual/manual.go
Due: gosec, govulncheck

refactor(engine): require explicit evidence_type — drop migration fallback
  ARCHITECTURE.md
  internal/compliance_frameworks/engine/engine.go
  internal/compliance_frameworks/engine/engine_test.go
Due: gosec, govulncheck

feat(storage): add on-prem S3 endpoint + OIDC auth + URIFor
  cmd/sigcomply/check.go
  internal/core/config/config.go
  internal/core/storage/local.go
  internal/core/storage/s3.go
  internal/core/storage/storage.go
  internal/core/storage/storage_test.go
Due: gosec, govulncheck

feat(storage): add Google Cloud Storage backend with ambient + OIDC auth
  cmd/sigcomply/check.go
  go.mod
  go.sum
  internal/core/config/config.go
  internal/core/storage/gcs.go
  internal/core/storage/storage.go
  internal/core/storage/storage_test.go
Due: gosec, govulncheck

feat(storage): add Azure Blob Storage backend with ambient + OIDC auth
  cmd/sigcomply/check.go
  go.mod
  go.sum
  internal/core/config/config.go
  internal/core/storage/azure_blob.go
  internal/core/storage/storage.go
  internal/core/storage/storage_test.go
Due: gosec, govulncheck

refactor(config): per-framework manual evidence storage backends
  cmd/sigcomply/check.go
  cmd/sigcomply/evidence.go
  cmd/sigcomply/evidence_test.go
  internal/core/config/config.go
  internal/core/config/config_test.go
Due: gosec, govulncheck

feat(cli): evidence init uses ResolvePath; add evidence path subcommand
  cmd/sigcomply/evidence.go
  cmd/sigcomply/root.go
Due: gosec, govulncheck

docs(storage): document GCS, Azure Blob, on-prem S3, OIDC, per-framework manual evidence
  docs/claude/recipes.md
  docs/configuration.md
Due: none

docs(claude): sync manual-evidence path resolution and Azure backend
  claude.md
Due: none

chore(deps): bump aws-sdk-go-v2 packages to patch eventstream DoS
  go.mod
  go.sum
Due: govulncheck

docs: rename claude.md→CLAUDE.md, add canonical product overview, fix staleness
  ARCHITECTURE.md
  CLAUDE.md
  README.md
Due: none

Path conditions:
  opa-fmt: any of: \.rego$
  opa-check: any of: \.rego$
  gosec: any of: \.go$
  govulncheck: any of: (\.go$|go\.mod$|go\.sum$)
