Repository SigComply/sigcomply-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: opa-fmt, opa-check, gosec, govulncheck

opa-fmt:
  name: OPA Format
  entry: bash -c 'if command -v opa &> /dev/null && [ -d "internal/policy/policies" ]; then opa fmt -w internal/policy/policies/; fi'
  language: system
  pass_filenames: false

opa-check:
  name: OPA Check
  entry: bash -c 'if command -v opa &> /dev/null && [ -d "internal/policy/policies" ]; then opa check internal/policy/policies/; fi'
  language: system
  pass_filenames: false

gosec:
  name: Go Security Check
  entry: bash -c 'if command -v gosec &> /dev/null; then gosec -quiet ./...; fi'
  language: system
  pass_filenames: false

govulncheck:
  name: Go Vulnerability Check
  entry: bash -c 'if command -v govulncheck &> /dev/null; then govulncheck ./...; fi'
  language: system
  pass_filenames: false

docs: fix framework resolution, gitlab wiring, auth header, envelope name
  CLAUDE.md
  docs/architecture/examples/acmecorp-walkthrough.md
  docs/claude/auth.md
  docs/configuration.md
Due: none

chore: tidy go.mod (promote aws-sdk credentials to direct)
  go.mod
Due: govulncheck

chore: bump go module dependencies
  go.mod
  go.sum
  internal/sources/azure/aks/testdata/cassettes/clusters.yaml
Due: govulncheck

chore: bump go module dependencies (#73)
  go.mod
  go.sum
  internal/sources/azure/aks/testdata/cassettes/clusters.yaml
Due: govulncheck

fix: correct quick-start examples in install.sh post-install output
  scripts/install.sh
Due: none

fix: install CLI from release tarball instead of nonexistent raw binary
  cmd/sigcomply/templates/github/compliance-annual.yml
  cmd/sigcomply/templates/github/compliance-daily.yml
  cmd/sigcomply/templates/github/compliance-monthly.yml
  cmd/sigcomply/templates/github/compliance-on-push.yml
  cmd/sigcomply/templates/github/compliance-quarterly.yml
  cmd/sigcomply/templates/github/compliance-weekly.yml
  cmd/sigcomply/templates/gitlab/.gitlab-ci.yml
  cmd/sigcomply/testdata/golden_compliance-daily.yml
  cmd/sigcomply/testdata/golden_compliance-on-push.yml
  cmd/sigcomply/testdata/golden_gitlab-ci.yml
  docs/architecture/09-ci-execution-model.md
  examples/github-actions/basic.yml
  examples/github-actions/multi-environment.yml
Due: none

fix: replace broken GitLab CI example with a minimal working pipeline
  examples/gitlab-ci.yml
Due: none

fix: make .env.example reflect only env vars the CLI reads
  .env.example
Due: none

docs: drop stale --framework flag from conceptual-model doc
  docs/architecture/01-conceptual-model.md
Due: none

docs: note go-install binary name and GitLab init-ci in README
  README.md
Due: none

fix: name gitlab id_token SIGCOMPLY_ID_TOKEN so cloud submission works
  cmd/sigcomply/templates/gitlab/.gitlab-ci.yml
  cmd/sigcomply/testdata/golden_gitlab-ci.yml
  examples/gitlab-ci.yml
Due: none

docs: add customer-facing SOC 2 doc set for beta onboarding
  README.md
  docs/README.md
  docs/concepts.md
  docs/configuration.md
  docs/for-ai-agents.md
  docs/getting-started.md
  docs/guides/ci-github.md
  docs/guides/ci-gitlab.md
  docs/guides/cloud-dashboard.md
  docs/guides/configure-sources.md
  docs/guides/install.md
  docs/guides/manual-evidence.md
  docs/guides/troubleshooting.md
  docs/guides/verify-evidence.md
  docs/quickstart.md
  docs/reference/commands.md
  docs/reference/frameworks.md
  llms.txt
Due: none

docs: fix acmecorp example to bind the real `evidence` slot
  docs/architecture/examples/acmecorp.sigcomply.yaml
Due: none

docs: add product-level overview and cloud sign-up to README
  README.md
Due: none

fix: scaffold manual.pdf source so a fresh init+check exits 1 not 2
  cmd/sigcomply/init.go
  cmd/sigcomply/init_test.go
  docs/quickstart.md
Due: gosec, govulncheck

fix: don't dump cobra usage/flags after a runtime error
  cmd/sigcomply/root.go
Due: gosec, govulncheck

feat: announce which sources check will collect from before hitting infra
  cmd/sigcomply/check.go
Due: gosec, govulncheck

feat: clearer check diagnostics — fail/error reasons, cloud-skip warning, yaml hint
  internal/orchestrator/orchestrator.go
  internal/submitter/submitter.go
  internal/submitter/submitter_test.go
Due: gosec, govulncheck

fix: pin default SIGCOMPLY_VERSION to v0.64.38 in CI templates and examples
  cmd/sigcomply/templates/github/compliance-annual.yml
  cmd/sigcomply/templates/github/compliance-daily.yml
  cmd/sigcomply/templates/github/compliance-monthly.yml
  cmd/sigcomply/templates/github/compliance-on-push.yml
  cmd/sigcomply/templates/github/compliance-quarterly.yml
  cmd/sigcomply/templates/github/compliance-weekly.yml
  cmd/sigcomply/templates/gitlab/.gitlab-ci.yml
  cmd/sigcomply/testdata/golden_compliance-daily.yml
  cmd/sigcomply/testdata/golden_compliance-on-push.yml
  cmd/sigcomply/testdata/golden_gitlab-ci.yml
  examples/github-actions/basic.yml
  examples/github-actions/multi-environment.yml
  examples/gitlab-ci.yml
Due: none

fix: init-ci missing --ci exits 3 (config error), not cobra's default 2
  cmd/sigcomply/init_ci.go
  cmd/sigcomply/init_ci_test.go
Due: gosec, govulncheck

docs: fix stale GitLab id-token warnings, add signup URL and --verbose
  docs/getting-started.md
  docs/guides/cloud-dashboard.md
  docs/guides/troubleshooting.md
Due: none

chore: add GitHub issue templates (bug report, feature request)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs: add CHANGELOG.md seeded at v0.64.38
  CHANGELOG.md
Due: none

test: record real GCS buckets cassette against live GCP API
  go.mod
  internal/sources/gcp/gcptest/gcptest.go
  internal/sources/gcp/storage/storage_conformance_test.go
  internal/sources/gcp/storage/storage_record_test.go
  internal/sources/gcp/storage/testdata/cassettes/buckets.yaml
Due: gosec, govulncheck

fix: give scrubbed emails distinct deterministic placeholders
  internal/sources/sourcetest/cassette.go
  internal/sources/sourcetest/cassette_test.go
Due: gosec, govulncheck

fix: don't corrupt bare 12-digit JSON numbers when scrubbing; record azure sql
  internal/sources/azure/sql/sql_record_test.go
  internal/sources/azure/sql/testdata/cassettes/databases.yaml
  internal/sources/sourcetest/cassette.go
  internal/sources/sourcetest/cassette_test.go
Due: gosec, govulncheck

test: record real azure backup/aks/cosmos cassettes
  internal/sources/azure/aks/aks_conformance_test.go
  internal/sources/azure/aks/aks_record_test.go
  internal/sources/azure/aks/testdata/cassettes/clusters.yaml
  internal/sources/azure/backup/backup_conformance_test.go
  internal/sources/azure/backup/backup_record_test.go
  internal/sources/azure/backup/testdata/cassettes/plans.yaml
  internal/sources/azure/cosmos/cosmos_record_test.go
  internal/sources/azure/cosmos/testdata/cassettes/accounts.yaml
Due: gosec, govulncheck

test: record real audit cassette + shared-client record helper
  internal/sources/gcp/audit/audit_conformance_test.go
  internal/sources/gcp/audit/audit_record_test.go
  internal/sources/gcp/audit/testdata/cassettes/audit.yaml
  internal/sources/gcp/gcptest/gcptest.go
Due: gosec, govulncheck

test: record real azure acr cassette against live API
  internal/sources/azure/acr/acr_record_test.go
  internal/sources/azure/acr/testdata/cassettes/registries.yaml
Due: gosec, govulncheck

test: record real gcp backup cassette (Backup and DR)
  internal/sources/gcp/backup/backup_record_test.go
  internal/sources/gcp/backup/testdata/cassettes/plans.yaml
Due: gosec, govulncheck

test: record real gke + sql cassettes against live API
  internal/sources/gcp/gke/gke_conformance_test.go
  internal/sources/gcp/gke/gke_record_test.go
  internal/sources/gcp/gke/testdata/cassettes/clusters.yaml
  internal/sources/gcp/sql/sql_conformance_test.go
  internal/sources/gcp/sql/sql_record_test.go
  internal/sources/gcp/sql/testdata/cassettes/instances.yaml
Due: gosec, govulncheck

test: record real azure compute cassette (VM via ARM template)
  internal/sources/azure/compute/compute_record_test.go
  internal/sources/azure/compute/testdata/cassettes/vms.yaml
Due: gosec, govulncheck

test: azure live-record seam + record real policy cassette
  internal/sources/azure/internal/azuretest/azuretest.go
  internal/sources/azure/policy/policy_record_test.go
  internal/sources/azure/policy/testdata/cassettes/assignments.yaml
Due: gosec, govulncheck

docs: reflect real GCP/Azure cassette recordings in testing strategy
  docs/architecture/11-testing-strategy.md
Due: none

test: record real azure storage/keyvault/network/monitor cassettes
  internal/sources/azure/keyvault/keyvault_conformance_test.go
  internal/sources/azure/keyvault/keyvault_record_test.go
  internal/sources/azure/keyvault/testdata/cassettes/keyvault.yaml
  internal/sources/azure/monitor/monitor_record_test.go
  internal/sources/azure/monitor/testdata/cassettes/monitor.yaml
  internal/sources/azure/network/network_conformance_test.go
  internal/sources/azure/network/network_record_test.go
  internal/sources/azure/network/testdata/cassettes/network.yaml
  internal/sources/azure/storage/storage_conformance_test.go
  internal/sources/azure/storage/storage_record_test.go
  internal/sources/azure/storage/testdata/cassettes/accounts.yaml
Due: gosec, govulncheck

test: record real compute + firestore cassettes; fix firestore path bug
  internal/sources/gcp/compute/compute_conformance_test.go
  internal/sources/gcp/compute/compute_record_test.go
  internal/sources/gcp/compute/testdata/cassettes/instances.yaml
  internal/sources/gcp/firestore/firestore.go
  internal/sources/gcp/firestore/firestore_record_test.go
  internal/sources/gcp/firestore/testdata/cassettes/databases.yaml
Due: gosec, govulncheck

test: record real asset + certs cassettes; quota-project in record seam
  internal/sources/gcp/asset/asset_record_test.go
  internal/sources/gcp/asset/testdata/cassettes/feeds.yaml
  internal/sources/gcp/certs/certs_conformance_test.go
  internal/sources/gcp/certs/certs_record_test.go
  internal/sources/gcp/certs/testdata/cassettes/certificates.yaml
  internal/sources/gcp/gcptest/gcptest.go
Due: gosec, govulncheck

test: record real GCP cassettes for 7 sources against live API
  internal/sources/gcp/artifactregistry/artifactregistry_conformance_test.go
  internal/sources/gcp/artifactregistry/artifactregistry_record_test.go
  internal/sources/gcp/artifactregistry/testdata/cassettes/repositories.yaml
  internal/sources/gcp/firewall/firewall_conformance_test.go
  internal/sources/gcp/firewall/firewall_record_test.go
  internal/sources/gcp/firewall/testdata/cassettes/firewalls.yaml
  internal/sources/gcp/iam/iam_conformance_test.go
  internal/sources/gcp/iam/iam_record_test.go
  internal/sources/gcp/iam/testdata/cassettes/policy.yaml
  internal/sources/gcp/kms/kms_record_test.go
  internal/sources/gcp/kms/testdata/cassettes/keys.yaml
  internal/sources/gcp/logging/logging_conformance_test.go
  internal/sources/gcp/logging/logging_record_test.go
  internal/sources/gcp/logging/testdata/cassettes/buckets.yaml
  internal/sources/gcp/network/network_conformance_test.go
  internal/sources/gcp/network/network_record_test.go
  internal/sources/gcp/network/testdata/cassettes/networks.yaml
  internal/sources/gcp/secretmanager/secretmanager_conformance_test.go
  internal/sources/gcp/secretmanager/secretmanager_record_test.go
  internal/sources/gcp/secretmanager/testdata/cassettes/secrets.yaml
Due: gosec, govulncheck

docs: correct Core Principle #2 to match shipped cadence-state behaviour
  ARCHITECTURE.md
Due: none

chore: clear golangci-lint backlog blocking pre-push (prealloc, gocyclo)
  internal/orchestrator/orchestrator.go
  internal/orchestrator/orchestrator_test.go
  internal/sources/aws/iam/iam_test.go
  internal/sources/azure/sql/sql.go
  internal/sources/manual/factory.go
  internal/sources/manual/manual.go
  internal/sources/sourcetest/cassette_test.go
  internal/sources/sourcetest/conformance.go
Due: gosec, govulncheck

Path conditions:
  opa-fmt: any of: \.rego$
  opa-check: any of: \.rego$
  gosec: any of: \.go$
  govulncheck: any of: (\.go$|go\.mod$|go\.sum$)
